code{
  font-family:source-code-pro,Menlo,Monaco,Consolas,'Courier New',monospace;
}
.logo {
  font-family: "Pacifico", cursive;
  font-weight:400;
  font-style:normal;
  color:teal;

}
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .card {
    @apply relative w-[250px] h-[350px] overflow-hidden;
  }

  .group-hover-effect {
    @apply p-4 transition-transform duration-300;
  }

  .group:hover .group-hover-effect {
    transform: translateY(0.25rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}